---
id: verification
title: 비즈니스 인증
sidebar_label: 비즈니스 인증
---

# 비즈니스 인증

<p class="_text-wrapper_1eo3m_1">사업자 정보를 제출하여 운영 중인 채널을 비즈니스 채널로 인증이 가능합니다. </p>

<p class="_text-wrapper_1eo3m_1">채널톡 전화 기능 등 일부 서비스는 비즈니스 인증이 완료된 채널에서만 사용이 가능합니다.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<h3 class="_heading_19a6y_1 _h3-laptop_19a6y_37">국내 사업자</h3>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">설정 경로: [채널 설정] - [일반 설정] - [채널 프로필] - [비즈니스 인증] - [South Korea]</p></li>

<p class="_text-wrapper_1eo3m_1">설정 경로: [채널 설정] - [일반 설정] - [채널 프로필] - [비즈니스 인증] - [South Korea]</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">비즈니스 인증 신청 가능한 역할</strong></p><ul class="_unordered-list_ju0lo_1"><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">소유자</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">[채널 설정: '일반 및 기타 설정'] 권한이<strong class="_bold_qbzoa_1"> </strong>있는 멤버</p></li></ul></li>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">비즈니스 인증 신청 가능한 역할</strong></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">소유자</p></li>

<p class="_text-wrapper_1eo3m_1">소유자</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">[채널 설정: '일반 및 기타 설정'] 권한이<strong class="_bold_qbzoa_1"> </strong>있는 멤버</p></li>

<p class="_text-wrapper_1eo3m_1">[채널 설정: '일반 및 기타 설정'] 권한이<strong class="_bold_qbzoa_1"> </strong>있는 멤버</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">비즈니스 인증 신청 시 준비 사항</strong></p><ul class="_unordered-list_ju0lo_1"><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">공통 서류</strong>: 사업자등록증 사본, 대표자의 신분증 사본</p></li></ul><p class="_text-wrapper_1eo3m_1"><code class="_code_1kmp5_1" style="color:var(--txt-black-darkest);background-color:var(--bg-black-lighter)"><span class="_color_1zdyc_1" style="color:var(--bgtxt-red-normal)">모바일 신분증 사본(촬영, 캡쳐 등)은 인정되지 않습니다. 실물 신분증의 컬러 사본(흑백 불가)을 마스킹(가림처리)하여 제출해주세요.</span></code></p></li>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">비즈니스 인증 신청 시 준비 사항</strong></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">공통 서류</strong>: 사업자등록증 사본, 대표자의 신분증 사본</p></li>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">공통 서류</strong>: 사업자등록증 사본, 대표자의 신분증 사본</p>

<p class="_text-wrapper_1eo3m_1"><code class="_code_1kmp5_1" style="color:var(--txt-black-darkest);background-color:var(--bg-black-lighter)"><span class="_color_1zdyc_1" style="color:var(--bgtxt-red-normal)">모바일 신분증 사본(촬영, 캡쳐 등)은 인정되지 않습니다. 실물 신분증의 컬러 사본(흑백 불가)을 마스킹(가림처리)하여 제출해주세요.</span></code></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">[사업자등록증 - 홈페이지 내 사업자 정보 - 신청자 정보] 상황에 따른 필요 서류</p></li>

<p class="_text-wrapper_1eo3m_1">[사업자등록증 - 홈페이지 내 사업자 정보 - 신청자 정보] 상황에 따른 필요 서류</p>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">*관계 확인 문서</strong> 예시</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">본점-지점 관계: 양 사 모두 기재된 법인등기부등본</p></li>

<p class="_text-wrapper_1eo3m_1">본점-지점 관계: 양 사 모두 기재된 법인등기부등본</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">계열사 관계: 지분 관계가 기재된 주주명부</p></li>

<p class="_text-wrapper_1eo3m_1">계열사 관계: 지분 관계가 기재된 주주명부</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">업무 위수탁 관계: 업무 위수탁 계약서 사본</p></li>

<p class="_text-wrapper_1eo3m_1">업무 위수탁 관계: 업무 위수탁 계약서 사본</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">그 외 양 사 관계를 확인할 수 있는 문서</p></li>

<p class="_text-wrapper_1eo3m_1">그 외 양 사 관계를 확인할 수 있는 문서</p>

<p class="_text-wrapper_1eo3m_1"><span class="_color_1zdyc_1" style="color:var(--txt-black-darkest)">관계 확인을 위한 사항 외 민감한 정보는 마스킹(가림처리) 후 제출해주세요</span></p>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">*채널톡 표준 위임장</strong>: 아래 첨부된 파일을 다운로드 하시거나, 케이스 3~6 선택 시 노출되는 "템플릿 다운로드" 버튼을 눌러 다운로드 해주세요</p>

<p class="_text-wrapper_1eo3m_1"><span class="_color_1zdyc_1" style="color:var(--bgtxt-red-normal)">.zip 파일에 포함된 위임장 작성 가이드를 참고하여 작성해주세요</span></p>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">*(법인)인감증명서</strong>: 위임장에 날인한 양 사의 (법인)인감증명서</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">서류 별 유효 기한</strong></p><ul class="_unordered-list_ju0lo_1"><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">재직증명서: 발급일이 신청일로부터 30일 이내</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">법인인감증명서: 발급일이 신청일로부터 3개월 이내</p></li></ul></li>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">서류 별 유효 기한</strong></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">재직증명서: 발급일이 신청일로부터 30일 이내</p></li>

<p class="_text-wrapper_1eo3m_1">재직증명서: 발급일이 신청일로부터 30일 이내</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">법인인감증명서: 발급일이 신청일로부터 3개월 이내</p></li>

<p class="_text-wrapper_1eo3m_1">법인인감증명서: 발급일이 신청일로부터 3개월 이내</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">PASS 본인인증이 가능한 010 연락처</strong></p><ul class="_unordered-list_ju0lo_1"><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">[개인 설정 → 매니저 설정 → 매니저 프로필 → 연락처]에 저장된 매니저의 연락처 입니다.</p></li></ul></li>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">PASS 본인인증이 가능한 010 연락처</strong></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">[개인 설정 → 매니저 설정 → 매니저 프로필 → 연락처]에 저장된 매니저의 연락처 입니다.</p></li>

<p class="_text-wrapper_1eo3m_1">[개인 설정 → 매니저 설정 → 매니저 프로필 → 연락처]에 저장된 매니저의 연락처 입니다.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">PC 웹 브라우저 접속</strong></p><ul class="_unordered-list_ju0lo_1"><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">PC앱에서는 진행이 불가합니다. 웹 브라우저로 진행해주세요.</p><p class="_text-wrapper_1eo3m_1">ex)크롬, 사파리, 엣지 등</p></li></ul></li>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">PC 웹 브라우저 접속</strong></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">PC앱에서는 진행이 불가합니다. 웹 브라우저로 진행해주세요.</p><p class="_text-wrapper_1eo3m_1">ex)크롬, 사파리, 엣지 등</p></li>

<p class="_text-wrapper_1eo3m_1">PC앱에서는 진행이 불가합니다. 웹 브라우저로 진행해주세요.</p>

<p class="_text-wrapper_1eo3m_1">ex)크롬, 사파리, 엣지 등</p>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">PASS인증 유의사항</strong></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">본인 인증한 이름과 신청인(대표자 또는 재직자)의 이름이 다를 경우 반려 사유에 해당합니다.</p><p class="_text-wrapper_1eo3m_1">예) 재직자 A 명의로 본인인증 + 대표자 신분증만 업로드, 재직자 A 재직증명서 누락 → 반려</p><p class="_text-wrapper_1eo3m_1">예) 재직자 A 명의로 본인인증 + 대표자 신분증, 재직자 B 재직증명서 업로드 → 반려</p></li>

<p class="_text-wrapper_1eo3m_1">본인 인증한 이름과 신청인(대표자 또는 재직자)의 이름이 다를 경우 반려 사유에 해당합니다.</p>

<p class="_text-wrapper_1eo3m_1">예) 재직자 A 명의로 본인인증 + 대표자 신분증만 업로드, 재직자 A 재직증명서 누락 → 반려</p>

<p class="_text-wrapper_1eo3m_1">예) 재직자 A 명의로 본인인증 + 대표자 신분증, 재직자 B 재직증명서 업로드 → 반려</p>

<p class="_text-wrapper_1eo3m_1"></p>

<p class="_text-wrapper_1eo3m_1">아래의 경우 매니저 본인 인증(PASS 인증) 확인 창이 열립니다.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">채널에서 비즈니스 인증을 최초로 신청 하는 경우</p></li>

<p class="_text-wrapper_1eo3m_1">채널에서 비즈니스 인증을 최초로 신청 하는 경우</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">반려 또는 취소 후 재인증을 시도하는 매니저가 이전에 진행한 매니저와 다른 경우</p></li>

<p class="_text-wrapper_1eo3m_1">반려 또는 취소 후 재인증을 시도하는 매니저가 이전에 진행한 매니저와 다른 경우</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">동일 매니저가 재신청할 때, 매니저의 연락처가 이전과 다른 경우</p></li>

<p class="_text-wrapper_1eo3m_1">동일 매니저가 재신청할 때, 매니저의 연락처가 이전과 다른 경우</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">유효한 사업자 등록 번호를 입력해주세요.</p></li>

<p class="_text-wrapper_1eo3m_1">유효한 사업자 등록 번호를 입력해주세요.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">신청하는 매니저 연락처에 기재된 핸드폰 번호로 본인인증(PASS)을 진행해주세요.</p><p class="_text-wrapper_1eo3m_1">[개인 설정 → 매니저 설정 → 매니저 프로필 → 연락처]에 입력한 번호로 진행해주세요.</p></li>

<p class="_text-wrapper_1eo3m_1">신청하는 매니저 연락처에 기재된 핸드폰 번호로 본인인증(PASS)을 진행해주세요.</p>

<p class="_text-wrapper_1eo3m_1">[개인 설정 → 매니저 설정 → 매니저 프로필 → 연락처]에 입력한 번호로 진행해주세요.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">사업자 등록증에 표기된 정보를 입력칸에 정확히 작성해주세요. </p><p class="_text-wrapper_1eo3m_1">사업자 등록증과 정보가 일치하지 않거나, 오탈자 발생 시 <strong class="_bold_qbzoa_1">검수가 반려</strong>될 수 있습니다. </p><p class="_text-wrapper_1eo3m_1">정보를 모두 입력한 후, <strong class="_bold_qbzoa_1">사업자등록증</strong>과 <strong class="_bold_qbzoa_1">대표자 신분증</strong>을 업로드하여 제출해주세요.</p></li>

<p class="_text-wrapper_1eo3m_1">사업자 등록증에 표기된 정보를 입력칸에 정확히 작성해주세요. </p>

<p class="_text-wrapper_1eo3m_1">사업자 등록증과 정보가 일치하지 않거나, 오탈자 발생 시 <strong class="_bold_qbzoa_1">검수가 반려</strong>될 수 있습니다. </p>

<p class="_text-wrapper_1eo3m_1">정보를 모두 입력한 후, <strong class="_bold_qbzoa_1">사업자등록증</strong>과 <strong class="_bold_qbzoa_1">대표자 신분증</strong>을 업로드하여 제출해주세요.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">홈페이지 주소</strong>: 사업자정보 확인이 가능한 홈페이지 주소인지 확인해주세요</p><p class="_text-wrapper_1eo3m_1">[채널 설정 → 채널 프로필 → 연락처 및 위치 → 홈페이지 주소]에 저장된 주소입니다.</p><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">사업자 정보 일치 여부</strong>: 비즈니스 인증을 신청하는 사업자정보와 홈페이지 상 사업자정보가 일치하는지 여부를 선택해주세요</p><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">신청자 소속</strong>: 신청자의 소속과 직위를 선택해주세요 [자사/타사, 대표/재직자]</p><p class="_text-wrapper_1eo3m_1">[사업자등록증 -  홈페이지 사업자정보 일치 여부 - 신청자 정보] <strong class="_bold_qbzoa_1">상황에 맞는 서류를 모두 업로드</strong>해주세요.</p></li>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">홈페이지 주소</strong>: 사업자정보 확인이 가능한 홈페이지 주소인지 확인해주세요</p>

<p class="_text-wrapper_1eo3m_1">[채널 설정 → 채널 프로필 → 연락처 및 위치 → 홈페이지 주소]에 저장된 주소입니다.</p>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">사업자 정보 일치 여부</strong>: 비즈니스 인증을 신청하는 사업자정보와 홈페이지 상 사업자정보가 일치하는지 여부를 선택해주세요</p>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">신청자 소속</strong>: 신청자의 소속과 직위를 선택해주세요 [자사/타사, 대표/재직자]</p>

<p class="_text-wrapper_1eo3m_1">[사업자등록증 -  홈페이지 사업자정보 일치 여부 - 신청자 정보] <strong class="_bold_qbzoa_1">상황에 맞는 서류를 모두 업로드</strong>해주세요.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">신청이 완료되면 영업일 3~5일 내에 검수가 진행되며, 검수 완료 시 채널의 공지봇으로 알림이 전송됩니다.</p></li>

<p class="_text-wrapper_1eo3m_1">신청이 완료되면 영업일 3~5일 내에 검수가 진행되며, 검수 완료 시 채널의 공지봇으로 알림이 전송됩니다.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">검수 상태가 <strong class="_bold_qbzoa_1">대기중</strong>일 경우, 입력한 정보를 수정하거나, 비즈니스 인증 신청 취소가 가능합니다. 정보 수정은 인증 신청자만 가능하며, 신청 취소는 비즈니스 인증 신청 권한이 있는 모든 매니저가 가능합니다.</p></li>

<p class="_text-wrapper_1eo3m_1">검수 상태가 <strong class="_bold_qbzoa_1">대기중</strong>일 경우, 입력한 정보를 수정하거나, 비즈니스 인증 신청 취소가 가능합니다. 정보 수정은 인증 신청자만 가능하며, 신청 취소는 비즈니스 인증 신청 권한이 있는 모든 매니저가 가능합니다.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">검수 상태가 <strong class="_bold_qbzoa_1">확인중</strong>일 경우, 신청 정보 수정 및 취소가 불가합니다.</p></li>

<p class="_text-wrapper_1eo3m_1">검수 상태가 <strong class="_bold_qbzoa_1">확인중</strong>일 경우, 신청 정보 수정 및 취소가 불가합니다.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">[신청 내역 보기] 를 통해, 비즈니스 인증 진행 상황 및 신청자를 확인할 수 있어요. 검수 반려 시, 반려 사유도 확인이 가능합니다.</p><p class="_text-wrapper_1eo3m_1">*반려 후 재신청 하시는 경우에는 모든 내용를 다시 작성해주세요.</p></li>

<p class="_text-wrapper_1eo3m_1">[신청 내역 보기] 를 통해, 비즈니스 인증 진행 상황 및 신청자를 확인할 수 있어요. 검수 반려 시, 반려 사유도 확인이 가능합니다.</p>

<p class="_text-wrapper_1eo3m_1">*반려 후 재신청 하시는 경우에는 모든 내용를 다시 작성해주세요.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1">개인 정보 보호를 위해 <strong class="_bold_qbzoa_1">개인 정보 마스킹(가림처리)이 필요</strong>합니다.</p>

<p class="_text-wrapper_1eo3m_1">가이드를 참고하여 서류 별 마스킹이 필요한 정보를 확인해주세요.</p>

<p class="_text-wrapper_1eo3m_1">마스킹 처리가 되지 않은 첨부 문서는 암호화되어 저장되며, 확인 후 즉시 파기되니 안심하세요.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">사업자 등록증 제출 시 아래의 정보를 마스킹 해주세요</p>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">서류</strong></p>

<p class="_text-wrapper_1eo3m_1"><span class="_color_1zdyc_1" style="color:var(--txt-black-darkest)"><strong class="_bold_qbzoa_1">마스킹이 필요한 개인 정보</strong></span></p>

<p class="_text-wrapper_1eo3m_1">사업자등록증</p>

<p class="_text-wrapper_1eo3m_1">이메일 주소(esero / hometax 제외), 전화 번호, 휴대폰 번호, 팩스 번호, 계좌 번호</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1">예시 이미지 외에도 <strong class="_bold_qbzoa_1">포함된 개인 정보가 있다면 꼭 마스킹(가림) 처리 후 신청</strong>해 주세요.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">신분증에 따라, 개인 정보 항목이 다르기에 아래 예시를 참고하여 마스킹을 진행해주세요. 이름, 생년월일, 성별, 발급 기관 (기관명, 날인) 정보를 제외한 나머지 정보는 꼭 마스킹 처리 후 첨부해주세요.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">아래와 같은 사유로 비즈니스 인증이 반려될 수 있습니다. </p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">반려 시, 공지봇과 알림톡으로 안내되며 재신청 하여 다시 검수를 요청할 수 있습니다.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">반려 후 재신청 하시는 경우에는 반려 사유를 보완하여 모든 내용를 다시 작성해주세요.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">대표적 반려 사유</strong></p><ul class="_unordered-list_ju0lo_1"><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">본인 인증(PASS 인증) 명의자와 신청인의 명의자가 일치하지 않을 때</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">비즈니스 인증 신청서에 작성한 사업자 정보와 제출된 사업자 등록증 상 정보가 일치하지 않을 때</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">작성한 사업자 정보가 [채널 설정] - [채널 프로필] - [연락처 및 위치]에 입력한 사이트 내에서 확인되지 않을 때</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">제출한 사업자 등록증이 유효하지 않을 때</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">제출 서류의 유효 기간이 경과 했을 때</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">제출 서류가 누락되거나 올바르지 않을 때</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">비즈니스 채널 신청이 불가한 업종에 해당될 때</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">운영 중인 채널과 신청한 사업자 서비스 간 연계성이 떨어질 때</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">운영 중인 사이트가 사회상규 또는 법령 위반의 가능성이 현저할 때</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">피싱 또는 스팸 사이트 개설을 위한 허위 사이트의 가능성이 보일 때</p></li></ul></li>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">대표적 반려 사유</strong></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">본인 인증(PASS 인증) 명의자와 신청인의 명의자가 일치하지 않을 때</p></li>

<p class="_text-wrapper_1eo3m_1">본인 인증(PASS 인증) 명의자와 신청인의 명의자가 일치하지 않을 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">비즈니스 인증 신청서에 작성한 사업자 정보와 제출된 사업자 등록증 상 정보가 일치하지 않을 때</p></li>

<p class="_text-wrapper_1eo3m_1">비즈니스 인증 신청서에 작성한 사업자 정보와 제출된 사업자 등록증 상 정보가 일치하지 않을 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">작성한 사업자 정보가 [채널 설정] - [채널 프로필] - [연락처 및 위치]에 입력한 사이트 내에서 확인되지 않을 때</p></li>

<p class="_text-wrapper_1eo3m_1">작성한 사업자 정보가 [채널 설정] - [채널 프로필] - [연락처 및 위치]에 입력한 사이트 내에서 확인되지 않을 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">제출한 사업자 등록증이 유효하지 않을 때</p></li>

<p class="_text-wrapper_1eo3m_1">제출한 사업자 등록증이 유효하지 않을 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">제출 서류의 유효 기간이 경과 했을 때</p></li>

<p class="_text-wrapper_1eo3m_1">제출 서류의 유효 기간이 경과 했을 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">제출 서류가 누락되거나 올바르지 않을 때</p></li>

<p class="_text-wrapper_1eo3m_1">제출 서류가 누락되거나 올바르지 않을 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">비즈니스 채널 신청이 불가한 업종에 해당될 때</p></li>

<p class="_text-wrapper_1eo3m_1">비즈니스 채널 신청이 불가한 업종에 해당될 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">운영 중인 채널과 신청한 사업자 서비스 간 연계성이 떨어질 때</p></li>

<p class="_text-wrapper_1eo3m_1">운영 중인 채널과 신청한 사업자 서비스 간 연계성이 떨어질 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">운영 중인 사이트가 사회상규 또는 법령 위반의 가능성이 현저할 때</p></li>

<p class="_text-wrapper_1eo3m_1">운영 중인 사이트가 사회상규 또는 법령 위반의 가능성이 현저할 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">피싱 또는 스팸 사이트 개설을 위한 허위 사이트의 가능성이 보일 때</p></li>

<p class="_text-wrapper_1eo3m_1">피싱 또는 스팸 사이트 개설을 위한 허위 사이트의 가능성이 보일 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">그 외 채널톡이 정한 비즈니스 인증 승인 기준에 미달되는 상황으로 판단 될 때</p></li>

<p class="_text-wrapper_1eo3m_1">그 외 채널톡이 정한 비즈니스 인증 승인 기준에 미달되는 상황으로 판단 될 때</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<h3 class="_heading_19a6y_1 _h3-laptop_19a6y_37">일본 사업자</h3>

<p class="_text-wrapper_1eo3m_1">채널톡은 일본에서 전화 서비스를 제공하는 사업자(특정 사업자)의 의무를 준수하고자, 자금세탁 및 테러자금 공여를 예방하기 위해 범죄수익이전방지법에 의거하여 비즈니스 인증(신청자 본인확인 e-KYC, 법인확인)을 실시합니다.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">설정 경로: [채널 설정] - [일반 설정] - [채널 프로필] - [비즈니스 인증] - [Japan]</p></li>

<p class="_text-wrapper_1eo3m_1">설정 경로: [채널 설정] - [일반 설정] - [채널 프로필] - [비즈니스 인증] - [Japan]</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">비즈니스 인증 신청 가능한 역할</strong></p><ul class="_unordered-list_ju0lo_1"><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">소유자</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">채널 설정: 일반 및 기타 설정 권한이<strong class="_bold_qbzoa_1"> </strong>있는 멤버</p></li></ul></li>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">비즈니스 인증 신청 가능한 역할</strong></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">소유자</p></li>

<p class="_text-wrapper_1eo3m_1">소유자</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">채널 설정: 일반 및 기타 설정 권한이<strong class="_bold_qbzoa_1"> </strong>있는 멤버</p></li>

<p class="_text-wrapper_1eo3m_1">채널 설정: 일반 및 기타 설정 권한이<strong class="_bold_qbzoa_1"> </strong>있는 멤버</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">비즈니스 인증 신청 시 필요 서류</strong></p><ul class="_unordered-list_ju0lo_1"><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">법인 번호 (일본 국세청 공표 사이트에 기재된 13자리)</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">이력사항전부증명서 (신청일 기준 발급일 3개월 이내)</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">대표자의 신분증 또는 신청자의 위임장 (신청일 기준 발급일 1개월 이내)</p></li></ul></li>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">비즈니스 인증 신청 시 필요 서류</strong></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">법인 번호 (일본 국세청 공표 사이트에 기재된 13자리)</p></li>

<p class="_text-wrapper_1eo3m_1">법인 번호 (일본 국세청 공표 사이트에 기재된 13자리)</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">이력사항전부증명서 (신청일 기준 발급일 3개월 이내)</p></li>

<p class="_text-wrapper_1eo3m_1">이력사항전부증명서 (신청일 기준 발급일 3개월 이내)</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">대표자의 신분증 또는 신청자의 위임장 (신청일 기준 발급일 1개월 이내)</p></li>

<p class="_text-wrapper_1eo3m_1">대표자의 신분증 또는 신청자의 위임장 (신청일 기준 발급일 1개월 이내)</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">사진이 부착된 본인 확인 서류 (마이넘버카드 외 본인 확인 서류는 뒷면 제출 필수)</strong></p><ul class="_unordered-list_ju0lo_1"><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">마이넘버카드</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">운전면허증</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">운전경력증명서</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">주민기본대장카드</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">체류 카드(외국인)</p></li><li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">특별 영주권자 증명서(외국인)</p></li></ul></li>

<p class="_text-wrapper_1eo3m_1"><strong class="_bold_qbzoa_1">사진이 부착된 본인 확인 서류 (마이넘버카드 외 본인 확인 서류는 뒷면 제출 필수)</strong></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">마이넘버카드</p></li>

<p class="_text-wrapper_1eo3m_1">마이넘버카드</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">운전면허증</p></li>

<p class="_text-wrapper_1eo3m_1">운전면허증</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">운전경력증명서</p></li>

<p class="_text-wrapper_1eo3m_1">운전경력증명서</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">주민기본대장카드</p></li>

<p class="_text-wrapper_1eo3m_1">주민기본대장카드</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">체류 카드(외국인)</p></li>

<p class="_text-wrapper_1eo3m_1">체류 카드(외국인)</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">특별 영주권자 증명서(외국인)</p></li>

<p class="_text-wrapper_1eo3m_1">특별 영주권자 증명서(외국인)</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">마이넘버카드는 기본적으로 발급받은 케이스에 넣은 채로 촬영해야 합니다. 케이스가 없는 경우 마이넘버카드 <strong class="_bold_qbzoa_1">앞면</strong>만 2군데를 마스킹 후 제출해 주세요.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">성별</p></li>

<p class="_text-wrapper_1eo3m_1">성별</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">장기기증 의사</p></li>

<p class="_text-wrapper_1eo3m_1">장기기증 의사</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1">일본 비즈니스 인증 신청 정보는 반드시 <strong class="_bold_qbzoa_1">일본어</strong>로 입력해 주세요. 신청 이후 본인 확인 미팅도 <strong class="_bold_qbzoa_1">일본어</strong>로 진행됩니다.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">본인 인증을 위한 정보를 입력해 주세요.
<strong class="_bold_qbzoa_1">본인 확인 서류는 반드시 얼굴 사진이 첨부된 서류로 제출해 주세요.</strong></p></li>

<p class="_text-wrapper_1eo3m_1">본인 인증을 위한 정보를 입력해 주세요.
<strong class="_bold_qbzoa_1">본인 확인 서류는 반드시 얼굴 사진이 첨부된 서류로 제출해 주세요.</strong></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">비즈니스 인증을 위한 정보를 입력해 주세요. 우편 수신이 반드시 확인되어야 비즈니스 인증이 승인되기에, <strong class="_bold_qbzoa_1">반드시 우편을 수신할 수 있는 정확한 주소를 적어주세요.</strong></p></li>

<p class="_text-wrapper_1eo3m_1">비즈니스 인증을 위한 정보를 입력해 주세요. 우편 수신이 반드시 확인되어야 비즈니스 인증이 승인되기에, <strong class="_bold_qbzoa_1">반드시 우편을 수신할 수 있는 정확한 주소를 적어주세요.</strong></p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">신청이 완료되면, 담당자가 본인 확인 미팅 가능한 시간을 확인하기 위해 유저챗이나 메일을 전송합니다.
순차적으로 진행되기에, 일정은 조율될 수 있습니다.</p></li>

<p class="_text-wrapper_1eo3m_1">신청이 완료되면, 담당자가 본인 확인 미팅 가능한 시간을 확인하기 위해 유저챗이나 메일을 전송합니다.
순차적으로 진행되기에, 일정은 조율될 수 있습니다.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">본인 인증이 완료되면 채널톡에서 비즈니스 승인 서류를 입력하신 주소로 발송합니다.</p></li>

<p class="_text-wrapper_1eo3m_1">본인 인증이 완료되면 채널톡에서 비즈니스 승인 서류를 입력하신 주소로 발송합니다.</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">고객이 우편을 수신하면 비즈니스 인증 신청 상태가 완료로 변경됩니다.</p></li>

<p class="_text-wrapper_1eo3m_1">고객이 우편을 수신하면 비즈니스 인증 신청 상태가 완료로 변경됩니다.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">아래와 같은 사유로 비즈니스 인증이 반려될 수 있습니다. 반려 시, 비즈니스 인증 신청자에게 공지봇으로 안내되며 비즈니스 인증 상태는 신규 신청이 가능한 상태로 변경됩니다.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1"></p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">반려 사유는 공지봇 및 [신청 내역 보기] 에서 확인이 가능해요</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">본인 인증이 불가능할 때</p></li>

<p class="_text-wrapper_1eo3m_1">본인 인증이 불가능할 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">본인 확인 비대면 미팅 불가 시</p></li>

<p class="_text-wrapper_1eo3m_1">본인 확인 비대면 미팅 불가 시</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">필수 서류인 이력사항전부증명서 및 대표자 신분증 (또는 재직증명서)가 누락되었을 때</p></li>

<p class="_text-wrapper_1eo3m_1">필수 서류인 이력사항전부증명서 및 대표자 신분증 (또는 재직증명서)가 누락되었을 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">비즈니스 인증 신청 서류 발급일이 제출일 기준 3개월이 경과되었을 때</p></li>

<p class="_text-wrapper_1eo3m_1">비즈니스 인증 신청 서류 발급일이 제출일 기준 3개월이 경과되었을 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">비즈니스 인증 신청이 불가한 업종에 해당될 때</p></li>

<p class="_text-wrapper_1eo3m_1">비즈니스 인증 신청이 불가한 업종에 해당될 때</p>

<li class="_list-item_1fabq_1"><p class="_text-wrapper_1eo3m_1">법인 소재지가 확인되지 않아 우편이 반송된 후 연락이 닿지 않을 때</p></li>

<p class="_text-wrapper_1eo3m_1">법인 소재지가 확인되지 않아 우편이 반송된 후 연락이 닿지 않을 때</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">비즈니스 인증은 채널톡 전화 수발신과 문자, 알림톡 발송 기능을 이용하기 위해 필요한 절차입니다.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">이외의 기능은 비즈니스 인증 없이도 사용 가능합니다.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">*채널톡에서 제공하는 기본번호(1644-9672)로 발송되는 문자 팔로업 알림은 비즈니스 인증이 필요하지 않습니다.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">한번 승인된 비즈니스 인증은 수정이 불가합니다. 수정을 원하실 경우 채널톡으로 문의로 기존 인증 취소를 요청 하신 후 재신청 해주세요</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">채널톡 내에서 비즈니스 인증 해제가 불가합니다. 비즈니스 인증 해제를 원하실 경우, 채널톡으로 문의주세요.</p>

<p class="_text-wrapper_1eo3m_1 _paragraph_1udmy_1">첫 과정에서 진행되는 매니저 인증은 매니저의 채널 내 참여 여부를 확인하기 위해 인증하는 과정입니다. 회사 명의의 법인 휴대폰이 아닌 비즈니스 인증을 신청하는 매니저 개인의 휴대폰으로 인증해 주세요.</p>
